<!DOCTYPE html>

	<html lang="en">

		<head>

			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
			<title>QUATER</title>

			<!-- CSS  -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

		</head>

		<body>

			<div class="section no-pad-bot" id="index-banner">
				<div class="container">
					<br><br>
					<h1 class="header center orange-text">Notice</h1>
					<div class="row center">
						<h5 class="header col s12 light">개발자는 혼자입니다.<br>미숙한 점이 많으니 양해해주시길 바랍니다.<br><br></h5>
						<h6 class="header col s12 light">이 웹사이트는 크롬 브라우저에 최적화되어있습니다.  <a href="http://chrome.google.com/" target="_blank">Chrome Download</a><br>로그인은 크롬 브라우저에서 가능합니다.<br>문법지적 또는 버그제보를 해주시면 감사하겠습니다.<br></h6>
						<h8 class="header col s12 light">연락처는 하단에 존재합니다.</h8>
					</div>

					<br>
					<br>
					<br>

				</div>
			</div>

			<!--  Scripts-->
			<script src="js/jquery.min.js"></script>
			<script src="js/materialize.js"></script>

		</body>

	</html>
